<div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-4">

            <div class="p-3">
                <div class="modal-header border-0 pb-0">
                    <h5 class="modal-title fw-bold" id="updateProfileModalLabel">Update Profile Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body pt-0">
                    <!-- Update Form -->
                    <form asp-action="UpdateProfile" method="post" id="updateProfileForm">
                        <input type="hidden" name="UserId" value="@Model.UserId" />

                        <div class="mb-3">
                            <input name="FirstName" value="@Model.Person.FirstName" class="form-control form-control-lg"
                                   placeholder="First Name" required />
                        </div>

                        <div class="mb-3">
                            <input name="MiddleName" value="@Model.Person.MiddleName" class="form-control form-control-lg"
                                   placeholder="Middle Name" />
                        </div>

                        <div class="mb-3">
                            <input name="LastName" value="@Model.Person.LastName" class="form-control form-control-lg"
                                   placeholder="Last Name" required />
                        </div>

                        <div class="mb-3">
                            <input name="Dob" value="@Model.Person.Dob.ToString("yyyy-MM-dd")" type="date" class="form-control form-control-lg"
                                   placeholder="Date of Birth" required />
                        </div>
                    </form>
                </div>

                <div class="modal-footer border-0 pt-0">
                    <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" form="updateProfileForm" class="btn btn-primary rounded-pill px-4">Update Profile</button>
                </div>
            </div>

        </div>
    </div>
</div>